.spinint-wrapper {
  margin: 16px 0;
}

.spinint-wrapper .prefix,
.spinint-wrapper .spinint-scroller,
.spinint-wrapper .suffix {
  display: inline-block;
}

.spinint-wrapper .spinint-scroller {
  position: relative;
}

.spinint-wrapper .spinint {
  position: relative;
}

.spinint-wrapper .spinint-up,
.spinint-wrapper .spinint-down {
  width: 16px;
  height: 16px;
  font-size: 0px;
  line-height: 0;
  position: absolute;
  left: -4px;
  display: block;
}

.spinint-wrapper .spinint-up {
  top: -11px;
  background-image: url(assets/up.png);
}

.spinint-wrapper .spinint-down {
  top: 16px;
  background-image: url(assets/down.png);
}
